Model does not understand the categorical data model only understand mathematical equationa and numerical values. So the process of converting categorical data into numerical value is know as `Data Encoding`.

### Data Encoding Techniques 

1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

### Nominal/OHE Encoding :

One hot encoding, also known as nominal encoding is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms.
In this technique, each category is represented as a binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable "color" with three possible values (red,green,blue), we can represent it as one hot encoding as follows:

1. Red: [1,0,0]
2. Green : [0,1,0]
3. Blue : [0,0,1]

### Disadvantages of OHE :

1. If one of categories have 100 unique different categories than OHE create 100 few features which increase the number of cloumns and for that we required more data.
2. Sparse Matrix - number of 1 and 0 are huge in features of datasets it leads to overfitting problem.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
## Create a simple dataframe

df= pd.DataFrame({
    'color' : ['red','blue','green','red','blue']

})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [4]:
## Create an instance of OneHotencoder
encoder = OneHotEncoder()

In [8]:
## perform fit and transform
encoded = encoder.fit_transform(df[['color']]).toarray()

* Here doing alphabatically sorting

In [9]:
import pandas as pd
encoder_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out())

In [10]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [12]:
## for new data
encoder.transform([['blue']]).toarray()

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [13]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

### Label Encoding

* Label encoding and ordinal encoding are two technique used to encode categorical data as numerical data.

* Label encoding involves assigning a unique numerical label to each category in the variable. The labels are usually assigned in alphabetical order or based on the frequency of the categories. For example, if we have a categorical variable "color" with three possible values (red,green,blue), we can represent it using label encoding as follows:

1. Red : 1
2. Green : 2
3. Blue : 3

### Disadvantages of LabelEncoder :

* Model start thinking that numerical value which are higher will greater than other, it start comaprison with others values.
* It start assigning rank, it suitable case where we required ranking in our data.

In [14]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [15]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [16]:
lbl_encoder.fit_transform(df[['color']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [17]:
lbl_encoder.transform([['red']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [18]:
lbl_encoder.transform([['blue']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [19]:
lbl_encoder.transform([['green']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

### Ordinal Encoding :

It is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order. For example, if we have a categorical variable "education level" with four possible values (high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:

1. High School : 1
2. College : 2
3. Graduate : 3
4. Post- Graduate : 4

In [20]:
from sklearn.preprocessing import OrdinalEncoder

In [21]:
## Create a sample dataframe with an ordinal variable

df = pd.DataFrame({
    'size' : ['small','medium','large','medium','small','large']

})

In [22]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [23]:
## Create an insatnce of ordinalencoder and then fit_transform
encoder = OrdinalEncoder(categories = [['small','medium','large']])

In [24]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [25]:
encoder.transform([['small']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

### Target Guided Ordinal Encoding :

It is a technique used to encode categorical variables based on their relationship with the target variables. This encoding technique is useful when we have a categorical variable with a large number of unique categories, and we want to use this variable as a freature in our machine learning model.

In Target Guided Ordinal Encoding, we replace each categorical variable with a numerical value based on the mean or median of the Target variable for that category. This creates a monotonic relationship between the categorical variable and the target variable, which can improve the predictive power of our model.

In [26]:
import pandas as pd

# create a sample dataframe with a categorical variable and a target variable

df= pd.DataFrame({
    'city' : ['New York','London','Paris','Tokyo','New York','Paris'],
    'price' : [200,150,300,250,180,320]

})

In [27]:
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [28]:
df.groupby('city')['price'].mean()

city
London      150.0
New York    190.0
Paris       310.0
Tokyo       250.0
Name: price, dtype: float64

In [29]:
mean_price = df.groupby('city')['price'].mean().to_dict()

In [30]:
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [ ]:
df['city_encoded'